<%- include('partials/header.ejs') %>
  <h1>Edit Post</h1>
  <form action="/edit/<%= post.id %>" method="post">
    <div class="col-12">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
    </div>
    <div class="col-12">
      <label for="content" class="form-label">Content:</label>
      <input type="text" class="form-control" id="content" name="content" value="<%= post.content %>" required>
    </div>

    <button class="Cbut" type="submit">Update Post</button>
  </form>
  <a href="/">Back to Home</a>
<%- include('partials/footer.ejs') %>


